<h1>散財家計簿 on Rails</h1>
<div>
    <h2>この家計簿はRuby on Railsで作られています(´・ω・`)</h2>
    <h2>頑張って作ります。。。</h2>
</div>
<br>
<br>
<div class="form-group">
    <h2>収入・支出を入力してください。</h2>
    <h4><label class="radio-inline"><input type="radio" name="optradio">収入</label></h2>
    <h4><label class="radio-inline"><input type="radio" name="optradio">支出</label></h2>
  <br>
</div>
<!--収入・支出の選択-->
<div class="input-group">
  <h4><label for="comment">金額</label></h2>
  <h4><textarea class="form-control" rows="1" id="comment"></textarea></h2>
</div>
<!--金額の記入-->
<div class="input-group">
  <h4><label for="comment">日付</label></h2>
  <h4><textarea class="form-control" rows="1" id="comment"></textarea></h2>
</div>
<!--日付の記入-->
<div>
  <h4><label for="comment">Comment:</label></h2>
  <h4><textarea class="form-control" rows="1" id="comment"></textarea></h2>
</div>
<!--内容の記録-->
<br>
<button type="button" class="btn btn-default navbar-btn">送信</button>
<!--送信ボタン-->
